@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}

body {
  padding: 45px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #090b1a;
  min-height: 100vh;
}

body main {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body main .card {
  max-width: 375px;
  border-radius: 10px;
  background-color: #1b1938;
  display: -ms-grid;
  display: grid;
}

body main .card .img_con {
  width: 100%;
  height: 250px;
  background-image: url(./images/image-header-mobile.jpg);
  background-size: 100% 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #aa5cdb;
  position: relative;
}

body main .card .img_con::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #aa5cdb;
  position: absolute;
  opacity: 0.3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

body main .card .card_info_con {
  padding: 50px 30px;
}

body main .card .card_info_con .card_info {
  text-align: center;
}

body main .card .card_info_con .card_info h2 {
  font-family: "Inter", sans-serif;
  font-size: 2em;
  font-weight: 700;
  color: white;
}

body main .card .card_info_con .card_info h2 span {
  font-size: 1em;
  color: #aa5cdb;
}

body main .card .card_info_con .card_info p {
  font-family: "Lexend Deca", sans-serif;
  color: rgba(255, 255, 255, 0.75);
  font-size: 17px;
  margin-top: 30px;
}

body main .card .card_info_con .card_stats {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  text-align: center;
  margin-top: 50px;
}

body main .card .card_info_con .card_stats h3 {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 2em;
}

body main .card .card_info_con .card_stats p {
  font-family: "Lexend Deca", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  margin-top: 10px;
}

@media screen and (min-width: 900px) {
  body main .card {
    max-width: 70rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  body main .card .img_con {
    background-image: url(./images/image-header-desktop.jpg);
    height: auto;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    min-width: 400px;
  }
  body main .card .img_con::before {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
  }
  body main .card .card_info_con {
    padding: 50px;
  }
  body main .card .card_info_con .card_info {
    text-align: left;
  }
  body main .card .card_info_con .card_stats {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    margin-top: 70px;
    max-width: 400px;
    text-align: left;
  }
}
/*# sourceMappingURL=stylel.css.map */